@page

@using CustomTagHelpersLibrary.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    WebsiteContext webContext = new()
    {
        Version = new Version(1, 3),
        CopyrightYear = 2025,
        Approved = true,
        TagsToShow = 131 };
}

<h3> website info </h3>
<website-information info="webContext" />

<div class="row mb-5">
    <div class="col-12">
        <author name="Karen Payne" margin-left="8px" class="small text-muted" />
    </div>
</div>

<div class="row mb-5">
    <div class="col-12">
        <author />
    </div>
</div>