@page
@using HideShowPasswordSample.Pages
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}



<div class="container">
    <div class="row mb-3">
        <div class="col-4">
            <label for="password1">Standard placement</label>
            <input id="password1"
                   data-toggle="password"
                   class="form-control"
                   type="password"
                   maxlength="10"
                   data-size="sm" @* use size small for input/eye remove for default size or use lg *@
                   placeholder="Enter the password">
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-4">
            <label for="password2">left placement</label>
            <input id="password2"
                   data-toggle="password"
                   data-placement="before" @* placed eye before input *@
                   class="form-control"
                   type="password"
                   data-size="sm"
                   placeholder="Enter the password">
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-4">
            <label for="password3">Custom placeholder</label>
            <input id="password3"
                   data-toggle="password"
                   data-placement="before"
                   class="form-control"
                   type="password"
                   data-size="sm"
                   placeholder="your password">
        </div>
    </div>
    
    <div class="row mb-5">
        <div class="col-4">
            <label for="password4" class="text-danger">Disabled input</label>
            <input id="password4"
                   data-toggle="password"
                   data-placement="before"
                   class="form-control"
                   type="password"
                   data-size="sm"
                   disabled="disabled"
                   placeholder="your password">
        </div>
    </div>
    
    <div class="row">
        <div class="col-4">
            <label class="fw-bold text-primary">Event log for show/hide passwords</label>
            <pre id="passwordLog" class="border p-2" style="height:150px; overflow:auto;"></pre>
        </div>

    </div>
</div>

@section Scripts
{
    <script>
        $(function () {
            var $log = $('#passwordLog');

            function writeLog(message) {
                var current = $log.text();
                $log.text(current + message + "\n");
                $log.scrollTop($log[0].scrollHeight); // auto-scroll down
            }

            $('input[data-toggle="password"]')
                .on('show.bs.password', function () {
                    writeLog('show.bs.password fired for #' + this.id);
                })
                .on('hide.bs.password', function () {
                    writeLog('hide.bs.password fired for #' + this.id);
                });
        });
    </script>
}

