@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link href="~/css/index.css" rel="stylesheet" />

<div class="alert alert-success mb-5" role="alert">

    <h1 class="fs-5">
        <span class="pe-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
                <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
            </svg>
        </span>

        Checked list
    </h1>
</div>
<form method="post">

    <fieldset class="fieldset-bordered">

        <legend class="h6">Months</legend>

        @for (var i = 0; i < Model.Items.Count; i++)
        {
            <input type="hidden" asp-for="Items[i].Id" />
            <input type="hidden" asp-for="Items[i].Text" />

            <div class="form-check mb-2">
                <input class="form-check-input" asp-for="Items[i].IsSelected" />
                <label class="form-check-label" asp-for="Items[i].IsSelected">
                    @Model.Items[i].Text
                </label>
            </div>
        }
    </fieldset>


    <button type="submit" asp-page-handler="Button1" class="btn btn-primary">
        Submit
    </button>
</form>
