USE [FluentValidation1]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 2/14/2026 10:56:59 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[PersonId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NOT NULL,
	[LastName] [nvarchar](max) NOT NULL,
	[EmailAddress] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([PersonId], [FirstName], [LastName], [EmailAddress]) VALUES (1, N'Stefanie', N'Buckley', N'BuckleyStefanie@gmail.com')
INSERT [dbo].[Person] ([PersonId], [FirstName], [LastName], [EmailAddress]) VALUES (2, N'Sandy', N'Mc Gee', N'SandyMc Gee@yahoo.com')
INSERT [dbo].[Person] ([PersonId], [FirstName], [LastName], [EmailAddress]) VALUES (3, N'Lee', N'Warren', N'WarrenLee@gmail.com')
SET IDENTITY_INSERT [dbo].[Person] OFF
GO
USE [master]
GO
