USE [BirthDaysDatabase]
GO
/****** Object:  Table [dbo].[BirthDays]    Script Date: 9/14/2025 1:31:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BirthDays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[BirthDate] [date] NULL,
	[YearsOld]  AS ((CONVERT([int],format(getdate(),'yyyyMMdd'))-CONVERT([int],format([BirthDate],'yyyyMMdd')))/(10000)),
 CONSTRAINT [PK_BirthDays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BirthDays] ON 

INSERT [dbo].[BirthDays] ([Id], [FirstName], [LastName], [BirthDate]) VALUES (1, N'Stefanie', N'Buckley', CAST(N'1967-02-02' AS Date))
INSERT [dbo].[BirthDays] ([Id], [FirstName], [LastName], [BirthDate]) VALUES (2, N'Sandy', N'Mc Gee', CAST(N'1986-06-26' AS Date))
INSERT [dbo].[BirthDays] ([Id], [FirstName], [LastName], [BirthDate]) VALUES (3, N'Lee', N'Warren', CAST(N'1994-07-09' AS Date))
SET IDENTITY_INSERT [dbo].[BirthDays] OFF
GO
USE [master]
GO
