USE [Examples]

/****** Object:  Table [dbo].[Customers]    Script Date: 9/21/2025 8:43:41 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Company] [nvarchar](max) NULL,
	[ContactType] [nvarchar](max) NULL,
	[ContactName] [nvarchar](max) NULL,
	[Country] [nvarchar](max) NULL,
	[JoinDate] [date] NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([Id], [Company], [ContactType], [ContactName], [Country], [JoinDate]) VALUES (1, N'Ana Trujillo Emparedados y helados', N'Owner', N'Ana Trujillo', N'Mexico', CAST(N'2018-11-04' AS Date))
INSERT [dbo].[Customers] ([Id], [Company], [ContactType], [ContactName], [Country], [JoinDate]) VALUES (2, N'Antonio Moreno TaquerÃ­a', N'Owner', N'Antonio Moreno', N'Mexico', CAST(N'2018-07-04' AS Date))
INSERT [dbo].[Customers] ([Id], [Company], [ContactType], [ContactName], [Country], [JoinDate]) VALUES (3, N'Around the Horn', N'Sales Representative', N'Thomas Hardy', N'UK', CAST(N'2018-07-04' AS Date))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
