@page
@using CustomTagHelpersApp.Classes
@using CustomTagHelpersLibrary.Models
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    WebsiteContext webContext = new()
    {
        Version = new Version(1, 3),
        CopyrightYear = 2025,
        Approved = true,
        TagsToShow = 131
    };
}


<div class="container">
    <div class="alert alert-primary" role="alert">
        <h1 class="fs-5">Welcome</h1>
    </div>

    <div class="row">
        <div class="col-12">
            <h2> Website info </h2>
            <website-information info="webContext" />
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-12 text-center">
            <color-label color="red">Should output red</color-label>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col-3">
            
            <form method="post">
                @{
                    var dow = (int)DateTime.Now.DayOfWeek;
                }
                <label for="weekDay">Select a weekday</label>
                <select-enum enum-type="@(typeof(WeekDays))"
                             class="w-auto"
                             focus-ring-color="rgba(var(--bs-primary-rgb), .25)"
                             focus-ring-width=".25rem"
                             id="weekDay"
                             selected-value="@dow"
                             name="weekDay">
                </select-enum>
                
                <text-entry id="firstName"  
                            margin-top="3"
                            value="@Model.FirstName" 
                            label-text="First name"
                            placeholder="Enter your first name.">
                </text-entry>

                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>
            
        </div>

    </div>
    
    <div class="row">
        <div class="col-3">

        </div>
    </div>
</div>


