@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <div class="alert alert-primary" role="alert">
        <h1 class="fs-5">About</h1>    
    </div>
    
    <p>
        This project demonstrates using a Bootstrap structure rather than tables, which can be problematic for responsive design and screen readers. See the readme file for more information.
    </p>
</div>
